<div class="box">
	<h2>Erro!</h2>

	<form action="" method="POST" style="text-align:center;">

		<a href="/inicioCadastro"><input type="button" value="Cadastrar"></a>
		<a href="/"><input type="button" value="Login"></a>

	</form>
</div>